@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100vh;
  width: 100vw;
}

.App {
  height: 100vh;
  display: flex;
}
.App.dark {
  background: linear-gradient(to bottom right, #155e75, #042f2e);
}
.App.light {
  background: #dddd;
}

.card-size {
  height: 500px;
  width: 400px;
}

.card-header {
  height: 70px;
}
.card-header.dark {
  background-color: #1f2937;
}
.card-header.light {
  background-color: #fca5a5;
}

.card-header-category.dark {
  color: #0ea5e9;
}
.card-header-category:hover.dark {
  color: #22d3ee;
}
.card-header-category.active.dark {
  color: #bae6fd;
}

.card-header-category.light {
  color: #f5f5f4;
}
.card-header-category:hover.light {
  color: #f87171;
}
.card-header-category.active.light {
  color: #ef4444;
}

.add-btn.dark {
  color: white;
  background-color: #0ea5e9;
}
.add-btn:hover.dark {
  background-color: #22d3ee;
}

.add-btn.light {
  color: white;
  background-color: #ef4444;
}
.add-btn:hover.light {
  background-color: #f87171;
}

.list-body {
  height: 360px;
}
.list-body.dark {
  background-color: #374151;
  color: #ffffff;
}
.list-body.light {
  background-color: #fff;
  color: #292524;
}

input[type="checkbox"] {
  zoom: 1.2;
}
